[submodule "arcticdb_link"]
	path = arcticdb_link
	url = https://mehertz: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@github.com/man-group/ArcticDB.git 
