<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <add key="no_proxy" value="*">
  <add key="defaultPushSource" value="http://nuget.maninvestments.ad.man.com/api/v2/package" />
  <packageSources>
    <add key="arcticc-vcpkg" value="http://nuget.maninvestments.ad.man.com/nuget/vcpkg" />
  </packageSources>
  <packageSourceCredentials>
    <arcticc-vcpkg>
        <add key="Username" value="ahldev" />
        <add key="Password" value="h5aT8rCaXrUwy1Mz8yytNHbaRaHNzspRJCfMnVaAgzMiJ/axoRuhFzYhIcx/yVIcw/A9jYoS+YXfflvuiExthjs/jbXjJwB9AauFtBenH6GO0HqE7y/kwErISxVLo7QYso5DzQ/jVQdlvM8Ur8nb59DBzypI9V6doUFTP9JsuNyEN53SMYsw+L8chTzLqegiGPovrUUqZoyjlUyyUq9uKFwhjVnZuoT+FotfOliQC+wDCkkmIPAH57lXJ4nWrGjYP2PBP3DAIg49jeucZL3lmg==" />
      </arcticc-vcpkg>
  </packageSourceCredentials>
</configuration>
