{% include 'header.html' %}

<h2> Library: {{ parent }}</h2>
<h2> Symbol: {{symbol}} </h2>
<ul id="children">
    {% for item in children %}
    <li>
        <a href={{ url_for('get_version_ref', library=library, symbol=symbol) }}>
        {{ item }}
        </a>
    </li>
    {% endfor %}
</ul>

<h3> All version keys </h3>
<a href={{ url_for('get_all_version', library=library, symbol=symbol) }} > Version Keys  </a>

<h3> Symbol info </h3>
<table>
    {% for key, value in symbol_info.items() %}
    <tr>
        <th> {{ key }}</th>
        <td> {{ value }}</td>
    </tr>
    {% endfor %}
</table>

<h3> Consistency </h3>
<span
        {% if conscheck['missing'] == 0 %} style="color: green" {% else %} style="color: red" {% endif %}>
{{ conscheck }}
</span>

{% include 'footer.html' %}